<!doctype HTML>
<HTML>
	<head>
		<link rel="stylesheet" href="style.css" type="text/css">
		<center>
		<div class="links">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/masters">List of Masters</a></li>
			<li><a href="/servantList">List of servants</a></li>
            <li><a href="/materialsList">List of materials</a></li>
			<li><a href="/skillsList">List of skills</a></li>
			<li><a href="/classesList">List of classes</a></li>
			<li><a href="/mastersServants">A Master's Servant List</a></li>
			<li><a href="/mastersMaterials">A Master's Materials List</a></li>
		</ul>
		</div>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" 
			http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>FGO Herder</title>
	</head>
	<body>
		{{{body}}}
	</body>
	</center>
</HTML>